matplotlib
librosa==0.10.0
tqdm
pandas
numba==0.60.0
numpy==1.26.4
scipy==1.11.0
PyYAML==5.3.1
tensorboardX
pyloudnorm
setuptools>=41.0.0
g2p_en
resemblyzer==0.1.4
tensorboard==2.6.0
scikit-learn==1.5.2
scikit-image==0.24.0
textgrid
jiwer
pycwt
PyWavelets
praat-parselmouth==0.4.4
jieba
einops
chardet
pretty-midi==0.2.9
pytorch-lightning==0.7.1
h5py==3.11.0
pypinyin==0.39.0
g2pM==0.1.2.5
protobuf==3.20.2

fastapi==0.115.0
fastapi-cli==0.0.5
